<div class="main__inner-wrapper">
	<div class="main__head-wrapper">
		<h3 class="main-banner main-banner_style_underline">{{store.pageData.nameLink}}</h3>
	</div>
	<div class="main__content-wrapper">
		<div class="product-discription">
		<!--
			<div class="product-discription__text">
				<time class="product-discription__time">09 сентября 2016</time>
				<p>
					Приложение лицензировано в 25 банках
				</p>
				<p class="product__type">
					Тип Приложения: 
					<span class="product__type-data">
						Базовое
					</span>
				</p>
				<p class="product__developer">
					Разработчик:
					<span class="product__developer-data">
						ЦФТ
					</span>
				</p>
				<p class="product__code">
					Код по каталогу:
					<span class="product__code-data">
						1B365001
					</span>
				</p><br>
				<p class="product__demands">
					Требования:
					 <span class="product__demands-data">
						совместимо с v.14.1, ТЯ v. 7.4.0.0 и выше, при наличии лицензии на Проигрыватель форм в web
					</span>
				</p>
			</div>
		-->
			<div class="product-discription__picture-block">
				<div class="product-discription__picture"></div>
				<a href="Cart1.html" class="product-discription__buttom product-discription__buttom_style_red-border">В корзину</a>
			</div>
		</div>
		<div class="product-function">
		<ul class="nav nav-tabs">
 			<li ng-class="store.activeNavClass(1)"><a href="#" ng-click="store.activeNavItem(1)">Время изменения</a></li>
       		<li ng-class="store.activeNavClass(2)"><a href="#" ng-click="store.activeNavItem(2)">Описание</a></li>
 			<li ng-class="store.activeNavClass(3)"><a href="#" ng-click="store.activeNavItem(3)">Цена</a></li>
		</ul></br></br>
		
		<span ng-show="store.showNavItem(1)"><b>Время изменения: </b>{{store.pageData.time}}</span>
		<span ng-show="store.showNavItem(2)"><b>Описание: </b>{{store.pageData.description}}</span>
		<span ng-show="store.showNavItem(3)"><b>Цена: </b>{{store.pageData.price|currency}}</span>
		
		<!--
			<h3 class="main-banner main-banner_style_underline">Основные функции</h3>
		
			<ul class="product-function__list">
				<li class="product-function__text-wrapper">
					<span class="product-function__text">
						Выполнение операций по банковским продуктам, используемым клиентом,
					 	и оформление новых продуктов банка непосредственно из Единого окна 
					</span>
				 </li>
				<li class="product-function__text-wrapper">
					<span class="product-function__text">
						Возможность определения одного банковского продукта для отображения в 
						Едином окне как рекомендуемого (для формирования списка адресно рекомендуемых продуктов
						необходима лицензия на Приложение Управление целевым маркетингом)
					</span>
				 </li>
				<li class="product-function__text-wrapper">
					<span class="product-function__text">
						Начисление баллов операционным сотрудникам за выполнение операций по банковским продуктам и
						отображение результатов в Едином окне (для использования гибкой настройки условий начисления
						баллов необходима лицензия на Приложение Игрофикация)
					</span>
				</li>
			</ul>
		-->
		</div>
	</div>
</div>